{% extends "base.html" %}
{% load thumbnail bootstrap3 %}

{% block title %}Cart{% endblock title %}

{% block content %}

    <h3>Cart</h3>
    <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">

{#              Display payment errors in this div, or nothing if error free#}
                <div class="alert alert-danger payment-errors" style="display: none;">

                </div>


                <form method="post" id="payment_form" action="." novalidate>
                    {% csrf_token %}

                    <h4>Payment Information</h4>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="id_card_number">Card Number</label>
                                <input class="form-control" id="id_card_number" required="required" type="text" data-stripe="number">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="id_expiration">Expiration (MM/YY)</label>
                                <div>
                                    <select class="form-control-inline form-control" id="id_expiration" required="required" type="text" placeholder="MM" data-stripe="exp_month">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    /
                                    <select class="form-control-inline form-control" id="id_expiration_year" required="required" type="text" placeholder="YY" data-stripe="exp_year">
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="id_cvc">CVC</label>
                                <div>
                                    <input class="form-control form-control-inline" size="3" id="id_cvc" required="required" type="text" data-stripe="cvc">
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4>Billing Information</h4>

                    <div class="row">
                        <div class="col-md-6">
                            {% bootstrap_field form.first_name %}
                            {% bootstrap_field form.address_1 %}
                            {% bootstrap_field form.address_2 %}
                            {% bootstrap_field form.phone_number %}
                            {% bootstrap_field form.email %}

                        </div>

                        <div class="col-md-6">
                            {% bootstrap_field form.last_name %}
                            {% bootstrap_field form.city %}
                            {% bootstrap_field form.country %}
                            {% bootstrap_field form.province %}
                            {% bootstrap_field form.postal_code %}

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="pull-left">
                            <button type="submit" class="btn btn-default" name="action" value="back">Back</button>
                        </div>

                        <div class="pull-right">

                           <a href="{% url 'product_list' %}" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                           </a>

                            <button type="submit" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </form>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
        </div>

{% endblock content %}


{% block scripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">

        Stripe.setPublishableKey('{{ STRIPE_PUBLISH_KEY }}');

        function stripeResponseHandler(status, response) {
            // Grab the form:
            var $form = $('#payment_form');
            var $paymentErrors = $(".payment-errors");

            if (response.error) { // Problem!

                // Show the errors on the form:
                console.log(response.error.message);
                $paymentErrors.text(response.error.message);
                $paymentErrors.show();
                $form.find('.submit').prop('disabled', false); // Re-enable submission

            } else { // Token was created!
                $paymentErrors.hide();
                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="stripe_token">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        }
        ;


        $(function () {
            var $form = $('#payment_form');


            $form.on("submit", function (event) {

                var btn = $(this).find("button[type=submit]:focus" );

                // catch the back button and don't process stripe information
                if(btn.val() == 'back'){
                    return true;
                }

                // Disable the submit button to prevent repeated clicks:
                $form.find('.submit').prop('disabled', true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from being submitted:
                return false;
            });
        });
    </script>
{% endblock scripts %}