{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Invoice{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">Order # {{ invoice.id }}</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					{{ invoice.name_first }} {{ invoice.name_last }}<br>
    					{{ invoice.street_1 }}<br>
    					{{ invoice.city }}, {{ invoice.province }} {{ invoice.postal_code }} <br>
    					{{ invoice.country }}<br/>
                        {{ invoice.phone }}
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					{{ invoice.name_first }} {{ invoice.name_last }}<br>
    					{{ invoice.street_1 }}<br>
    					{{ invoice.city }}, {{ invoice.province }} {{ invoice.postal_code }} <br>
    					{{ invoice.country }}<br/>
                        {{ invoice.phone }}
    				</address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					{{ invoice.card_brand }} ending {{ invoice.card_last4 }}<br>
    					{{invoice.email}}
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					{{ invoice.created_date }}<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-left"><strong>Name</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
                                {% for item in invoice.line_items.all %}

    							<tr>
    								<td>{{ item.sku }}</td>
    								<td>{{ item.name }}</td>
    								<td class="text-center">${{ item.price }}</td>
    								<td class="text-center">{{ item.quantity }}</td>
    								<td class="text-right">${{ item.total }}</td>
    							</tr>

                                {% endfor %}

    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right">${{ invoice.subtotal }}</td>
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Tax (GST/PST)</strong></td>
    								<td class="thick-line text-right">${{ invoice.tax }}</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">${{ invoice.shipping }}</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right">${{ invoice.total }}</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>

    			</div>
    		</div>

            <a href="/products/" class="btn btn-primary">Back to Store</a>


            <a href="/invoices/{{ invoice.id }}/resend/" class="btn btn-info pull-right">Resend</a>


    	</div>
    </div>

{% endblock content %}