{% extends "base.html" %}
{% load thumbnail bootstrap3 %}

{% block title %}Products{% endblock title %}

{% block content %}


    <div class="row">
        <div class="col-md-4">
            <h3>Products {% if category %}- {{ category.name }} {% endif %}</h3>
        </div>
        <div class="col-md-4 col-md-offset-4">
            {% include "shop/search_box.html" %}

        </div>
    </div>

    <div class="row">

        {% for product in products %}

            {% include "shop/includes/product_list_item.html" %}

            {# only display 4 products in each row. #}
            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}

    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            {% bootstrap_pagination products %}
            <div class="pull-right">
                Showing {{ products.start_index }} to {{ products.end_index }} of {{ products.paginator.count }}
            </div>
        </div>
    </div>

    {% if not products %}
        <h3>I'm sorry... We couldn't find anything matching your request.</h3>
        <a href="{% url 'product_list' %}">Check out our products!</a>
    {% endif %}

{% endblock content %}