{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Products{% endblock title %}

{% block content %}

    <h3>Products {% if category %}- {{ category.name }} {% endif %}</h3>
        <div class="row">
        {% for product in products %}

            <div class="col-sm-4 col-lg-3 col-md-3">
                <div class="thumbnail">
                    {% if product.image %}

                        <a href="/products/{{ product.id }}/">
                        {% thumbnail product.image "260x220" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="padding:{{ im|margin:"260x220" }}">
                        {% endthumbnail %}
                        </a>

                    {% else %}
                        <img src="http://placehold.it/260x220" alt="">
                    {%  endif %}

                    <div class="caption">
                        <h4 class="pull-right">${{ product.price }}</h4>
                        <h4><a href="/products/{{ product.id }}/">{{ product.name }}</a></h4>
{#                        <h4><a href="{% url 'product_detail' product_id=product.id %}">{{ product.name }}</a></h4>#}
                        <p>{{ product.description }}</p>
                    </div>
{#                    <div class="ratings">#}
{#                        <p class="pull-right">12 reviews</p>#}
{#                        <p>#}
{#                            <span class="glyphicon glyphicon-star"></span>#}
{#                            <span class="glyphicon glyphicon-star"></span>#}
{#                            <span class="glyphicon glyphicon-star"></span>#}
{#                            <span class="glyphicon glyphicon-star"></span>#}
{#                            <span class="glyphicon glyphicon-star-empty"></span>#}
{#                        </p>#}
{#                    </div>#}
                    <div class="margin-top10" style="padding: 6px;">
                        <form method="post" action="/cart/add/{{ product.id }}/">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">
                                Add to cart
                            </button>

                        </form>
                    </div>
                </div>
            </div>

            {# only display 4 products in each row. #}
            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
            {% endif %}

        {% endfor %}
        </div>

{% endblock content %}