{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Product - {{ product.name }}{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <h3> {{ product.name }}</h3>
        </div>

        <div class="col-md-4 col-md-offset-4">
            {% include "shop/search_box.html" %}

        </div>
    </div>

    <div class="row margin-top20">

        <div class="col-md-4">
            <a class="img-thumbnail">
                {% thumbnail product.image "330x410" as im %}
                    <img id="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="">
                {% endthumbnail %}
            </a>
        </div>


        <div class="col-md-7">
            <div class="product-title">{{ product.name }}</div>
            <div class="product-desc">{{ product.description }}</div>
            <hr>
            <div class="product-price">$ {{ product.price }}</div>

            <div class="product-stock">
                {% if product.quantity == 0 %}
                    <div class="product-empty"> Sold Out</div>
                {% elif product.quantity <= 10 %}
                    <div class="product-empty">Only {{ product.quantity }} Left</div>
                {% else %}In Stock{% endif %}
            </div>

            <hr>


                {% if product.quantity != 0 %}
                    <form method="post" action="/cart/add/{{ product.id }}/">
                        {% csrf_token %}

                        <div class="btn-group cart">
                            <button type="submit" class="btn btn-success">
                                Add to cart
                            </button>
                        </div>

                        <div class="col-sm-3 col-md-3" style="text-align: center; position: absolute; bottom: 1px; left: 100px;">
                            <input type="number" min="1" max="{{ product.quantity }}" class="form-control cart-quantity" name="quantity" value="1">
                        </div>
                    </form>
                {% endif %}

        </div>
    </div>

    <div class="row">

        <div class="col-md-12 product-info">
            <ul id="myTab" class="nav nav-tabs nav_tabs">

                <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">

                    <section class="container product-info">
                        {{ product.long_description|safe }}
                    </section>

                </div>
                <div class="tab-pane fade" id="service-two">

                    <section class="container">
                        {% lorem 3 p %}

                    </section>

                </div>
                <div class="tab-pane fade" id="service-three">
                    {% lorem 3 p %}
                </div>
            </div>
            <hr>
        </div>

    </div>

{% endblock content %}