{% load thumbnail %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail product-list-item">
        {% if product.image %}

            <a href="/products/{{ product.id }}/">
                {% thumbnail product.image "260x220" as im %}
                    <img src="{{ im.url }}" width="260" height="220" style="padding:{{ im|margin:"260x220" }}; height: 220px; width: 260px;">
                {% endthumbnail %}
            </a>

        {% else %}
            <img src="http://placehold.it/260x220" alt="">
        {% endif %}

        <div class="caption">
            <h4><a href="/products/{{ product.id }}/">{{ product.name }}</a></h4>
            <p>{{ product.description }}</p>
            <br/>


        </div>
        {% if product.quantity != 0 %}
            <div class="margin-top10" style="padding: 6px;">

                {% if product.quantity == 0 %}
                    <div id="product-list-empty">Out Of Stock</div>
                {% elif product.quantity <= 10 %}
                    <div id="product-list-empty">Only {{ product.quantity }} Left</div>
                {% else %}
                    <div>&nbsp;</div>
                {% endif %}

                <form method="post" action="/cart/add/{{ product.id }}/">
                    {% csrf_token %}
                    {# product price moved down here #}
                    <h4 class="pull-right">${{ product.price }}</h4>

                    {# full width and normal width submit buttons, depending on screen size #}
                    <button type="submit" class="btn btn-success hidden-xs">Add to cart</button>
                    <button type="submit" class="btn btn-success btn-block hidden-sm hidden-md hidden-lg">Add to cart</button>
                </form>
            </div>
        {% else %}
            <div class="margin-top10" style="padding: 6px;">
                <div>&nbsp;</div>
                <form method="post" action="/cart/add/{{ product.id }}/">
                    {% csrf_token %}
                    {# product price moved down here #}
                    <h4 class="pull-right">Sold Out</h4>

                    {# full width and normal width submit buttons, depending on screen size #}
                    <button type="submit" class="btn btn-success hidden-xs" disabled>Add to cart</button>
                    <button type="submit" class="btn btn-success btn-block visible-xs" disabled>Add to cart</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>